@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}


h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #3f8aa8;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  color: #fff;
}

.TodoForm {
  width: 100%;
  margin: 0 auto;
  display: flex;  
  right: 0px;
  z-index: 2;
  border: none;
  height: 50px;
  cursor: pointer;
  margin-top: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #0b286c;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  width: 333px;
  height: 50px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}


.todo-btn {
  background: #154288;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  height: 50px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #154288;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer; 
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #3eaa00;
  text-decoration: line-through;
}

.TodoWrapper h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoWrapper h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}
